* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    flex-direction: column;
    height: 100vh;
}

.flex {
    display: flex;
}

header {
    justify-content: flex-end;
    border: 1px solid red;
    padding: 5px;
}

button {
    border: none;
    cursor: pointer;
}

.top-button button {
    background-color: gray;
    border-radius: 5px;
    padding: 2px 4px;
    color: white;
    font-size: 1rem;
}

i {
    color: white;
}

main {
    flex-grow: 1;
    overflow: auto;
    border: 1px solid red;
    padding: 40px;
}

.container {
    flex-wrap: wrap;
}

.user {
    height: 160px;
    width: 256px;
    background-color: aqua;
    margin: 5px;
    position: relative;
}

.name-user {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #222222;
    border: 1px solid #ff0000;
}

footer button {
    background-color: transparent;
    color: white;
}

footer i {
    font-size: 2rem;
    padding-bottom: 5px;
}

.button {
    padding: 10px;
}

.text{
    padding-top: 10px;
    font-size: 1rem;
}

.fa-chevron-up{
    font-size: 1rem;
    padding: 10px;
}

.quit{
    height: 100%;
    line-height: 73px;
    background-color: rgba(255, 255, 255, 0.3);
    color: red;
    padding: 0 10px;
    font-weight: bold;
}